:8000 {
	handle_path /api/crm/* {
		reverse_proxy operations-bff:8080 {
			header_up Host {$CRM_PUBLIC_HOST}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Host {$CRM_PUBLIC_HOST}
		}
	}

	handle /api/v1/auth/* {
		reverse_proxy operations-bff:8080 {
			header_up Host {$CRM_PUBLIC_HOST}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Host {$CRM_PUBLIC_HOST}
		}
	}
	handle /signin-oidc* {
		reverse_proxy operations-bff:8080 {
			header_up Host {$CRM_PUBLIC_HOST}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Host {$CRM_PUBLIC_HOST}
		}
	}
	handle /signout-callback-oidc* {
		reverse_proxy operations-bff:8080 {
			header_up Host {$CRM_PUBLIC_HOST}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Host {$CRM_PUBLIC_HOST}
		}
	}
	handle /auth/* {
		reverse_proxy keycloak:8080
	}
	handle {
		reverse_proxy crm-web:3000
	}
}
